.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header{
  background-color: rgb(130, 252, 130);
}

Link{
  text-decoration: none;
}
#BlogPost{
  border: 8px solid black;
}
div.content{
  text-align: justify;
  height: auto;
  width: 100%;
  background-color:aliceblue;
}
div.BlogList{
  border: 8px solid black;
  padding: 10px;
}
form {
  line-height: 35px;
}
#likeBtn{
  border: 0;
  padding: 6px;
  border-radius: 5px;
}